#main {
	margin: 0;
	background: #fff;
}

#left {
	width:100px;
	margin: 0;
	padding: 0;
	background: #cdcdcd;	
}

#right {
	position: absolute;
	left: 80%;
	top: 0;
	width: 120px;
	margin: 0;
	padding: 0;
	background: #fff;
}

#middle {
	position: absolute;
	left: 15%;
	right: 15%;
	height: 100%;
	top:0;
	bottom:0;
	background-color: #dadada;
}

#logo {
	float: top;
	background: url(/image/outerWorld_logo.v2.png) no-repeat left top;
	margin-left:2px;
	margin-top:0;
	width: 468px;
	height: 60px;
}

#substract {
	float: left;
	margin: 0;
}

#navigator {
	float: left;
	border: 2px;
	margin-left: 0;
	margin-top: 80px;
}

#navigator h5 {
    display: none;
}
#navigator ul {
    padding: 0 0; 
    margin-left: 0; 
    border-bottom: 0 solid; 
    font: bold 20px Verdana, sans-serif; 
}
  
#navigator ul li {
    list-style: none;
    margin: 0; 
    display: inline; 
}
  
#navigator ul li a {
    padding: 3px 0.5em; 
    margin-left: 3px; 
    border: 0px solid;
    border-bottom: none;
    background: transparent;
    text-decoration: none;
}
  
#navigator ul li a:link {
    color: #448;
}
  
#navigator ul li a:visited {
    color: #667;
}
  
#navigator ul li a:link:hover, #nav_first ul li a:visited:hover {
    color: #000;
    background: transparent;
    border-color: #227;
}
  
#navigator ul li a#current {
    background: transparent; 
    border-bottom: 0px solid white;
}

#my_infor {
	display: float;
	position: relative;
	width: 80%;
	height: 160px;
	margin-left: 20px;
	top: 0;
}
#my_intro > p {
	display: float;
	position: relative;
	margin-top: 100px;
}

#myname {
	position: relative;
	left:0;
	width:120px;
	height: 24px;
	top: 0px;
}
#mail {
	position: relative;
	left: 128px;
	width: 320px;
	height: 24px; 
	top: -34px;
	margin:0;
}
#qq {
	position: relative;
	left: 480px;
	width: 240px;
	height: 24px; 
	top: -68px;
	margin:0;
}

#work-location {
	position: relative;
	left:0;
	width:240px;
	height: 24px;
	top: -72px;
}
#interest {
	position: relative;
	left:0;
	width:240px;
	height: 24px;
	top: -72px;
}


#content {
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

#content p {
}

#footer {
	position: absolute;
	margin-top: 90%;
	width: 100%;
}
#footer p {
	text-align: center;
}
