html {
	min-height: 100%;
	background: transparent url(http://momentoapp.com/images/background.png) repeat center top;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #e2ded8;
	text-shadow: #000 0 1px 0;
}

body {
}

div .container {
}

div #header {
}

div #mid {
}

div #footer {
}
